bin/
native/build/
native/testing/
.*
*.classpath
*.project
*.cproject
*.class
*.so
*.bak
*.kdev4
*.o
*.dat

# ignore DevC++ files
*.res
*.dll
*.layout
*.a
*.def
native/DevC++/test*

# Allow .project and .classpath files for main bundles
!config/.classpath
!config/.project
!core/.classpath
!core/.project
!interfaces/.classpath
!interfaces/.project
!metadatamgr/.classpath
!metadatamgr/.project
!passwordmgr/.classpath
!passwordmgr/.project
!rest/.classpath
!rest/.project
